/* Main container styling */
.St_mainContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

/* Sub container styling */
.St_subContainer {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* Section containing user information */
.St_div1 {
    display: flex;
    padding: 20px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    color: #333;
    font-family: var(--font2);
    border-radius: 20px;
    background-color: #f5f5f5;
}

/* Styling for user icon */
.St_usericon {
    font-size: 40px;
}

/* Section containing loan application details */
.St_div2 {
    margin-bottom: 150px;
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding: 15px;
}

/* Styling for text div within loan application details */
.St_textDiv {
    padding: 10px;
}

/* Styling for main heading in loan application details */
.St_text1 {
    font-size: 40px;
    font-family: var(--font2);
    font-weight: 600;
    line-height: 40px;
    color: #6976DC;
}

/* Styling for subheading in loan application details */
.St_text2 {
    font-family: var(--font3);
    color: #E34E62;
}

/* Styling for input form within loan application details */
.St_inputDiv {
    padding: 30px;
    background-color: #f5f5f5;
    border-radius: 20px;
}

/* Styling for apply now button */
.St_button {
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 10px;
    font-family: var(--font3);
    border: none;
    background-color: #E34E62;
    color: white;
    cursor: pointer;
    font-weight: 600;
    transition: 0.2s ease-in-out;
}

/* Hover effect for apply now button */
.St_button:hover {
    background-color: #ca3b4e;
}

/* Responsive styling for small screens */
@media screen and (max-width: 800px) {
    /* Hide user email on small screens */
    .St_userEmail {
        display: none;
    }

    /* Adjust loan application details layout for small screens */
    .St_div2 {
        flex-direction: column;
        margin-bottom: 40px;
    }
}

/* Further adjustments for screens smaller than 400px */
@media screen and (max-width: 400px) {
    /* Decrease user icon size and adjust margin */
    .St_usericon {
        font-size: 30px;
        margin-top: 10px;
    }
}
